//
// Page
// --------------------------------------------------
.footer {
  width: 100%;
  border-top: 1px solid #ececec;
  font-size: $font-size-12;
  color: #999;
  text-align: center;
  padding: 16px 0;
  margin-top: 3em;
}

.main {
  min-height: 100vh;
}

.wrapper {
  .container {
  }

  // Title
  .title {
    font-size: 4.5rem;
    font-weight: 100;
  }

  // Cards
  .cards-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
  }

  .card {
    width: calc((100% / 4) - 32px);
    margin: 16px;
    transition: $transition-base;

    &__img {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      overflow: hidden;
      margin-bottom: 12px;
      border-radius: 8px;
      position: relative;

      img {
        width: 100%;
        transition: $transition-base;

        &:hover {
          filter: grayscale(1);
        }
      }
    }

    &__content {
      .artist {
        font-size: $font-size-36;
        font-weight: 100;
        margin-bottom: 8px;
      }

      .album {
        font-size: $font-size-base;
        font-weight: 200;
      }

      .release {
        font-size: $font-size-base;
        font-weight: 200;
      }

      .tags {
        font-size: $font-size-13;
        color: #999;
        font-weight: 200;
      }

      .review-info {
        margin-top: 16px;
        padding-top: 4px;
        font-size: $font-size-13;
        color: #999;
        font-weight: 200;
        position: relative;

        &::before {
          content: '';
          background-color: #cecece;
          width: calc(100% - 70px);
          height: 1px;
          position: absolute;
          top: 0;
          left: 0;
        }

        .reviewtime {
        }

        .ranking {
          background-color: #fff;
          width: 60px;
          height: 60px;
          border-radius: 100px;
          border: 1px solid #111;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: $font-size-24;
          color: #111;
          font-weight: 100;
          position: absolute;
          bottom: -8px;
          right: 0;

          span {
            font-size: $font-size-30;
            color: #111;
            font-weight: 100;
          }
        }
      }
    }
  }
}

// RWD
@media (max-width: $screen-lg-min) /*1200*/ {
}

@media (max-width: $screen-md-min) /*970*/ {
}

@media (max-width: $screen-sm-min) /*769*/ {
  .wrapper {
    .cards-list {
      margin-left: 0;
      margin-right: 0;
    }

    .card {
      width: 100%;
      margin: 0 0 32px 0;
    }
  }
}

@media (max-width: 320px) {
}